<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Liquor Store</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="container">
    <h1>FWBAR Store <i class="beer fa-solid fa-champagne-glasses"></i></h1>
    <!-- Search Form -->
    <form action="/search" method="post" class="search-form">
      <input type="text" name="search" placeholder="Search by name">
      <button type="submit">Search</button>
    </form>

<!-- Filter Form -->
  <form action="/filter" method="post" class="filter-form">
    <div class="form-row">
      <div class="col-md-4">
        <label for="minPrice">Min Price:</label>
        <input type="number" name="minPrice" step="0.01" min="0" class="form-control">
      </div>
      <div class="col-md-4">
        <label for="maxPrice">Max Price:</label>
        <input type="number" name="maxPrice" step="0.01" min="0" class="form-control">
      </div>
      <div class="col-md-4">
        <label for="submit">Submit</label>
        <button type="submit" class="btn btn-primary btn-block">Filter</button>
      </div>
    </div>
  </form>

    <!-- Product Cards -->
    <div class="row">
      <% products.forEach(product => { %>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="product-card">
            <h3><%= product.name %></h3>
            <% if (product.imagePath) { %>
              <img src="<%= product.imagePath %>" alt="<%= product.name %>" class="img-fluid">
            <% } %>
            <p>Price: $<%= product.price %></p>
            <p>Category: <%= product.category %></p>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/4975c73799.js" crossorigin="anonymous"></script>
</body>

</html>
```